::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.container{
    background-color: rgba(181, 181, 181, 0.3);
    border-radius: 20px;
    width: 560px;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.daily{
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.forecast{
    width: 500px;
    height: 150px;
}

.conditions{
    height: 250px;
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.temperature{
    height: 250px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon{
    height: 215px;
    width: 215px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.condition{
    margin: 0;
    padding-bottom: 10px;
    font-size: 40px;
}

p{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.temp{
    font-size: 50px;
    padding-right: 10px;
}

.unit{
    font-size: 30px;
}

.button{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.812)
}

.forecast{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.future{
    margin: 5px;
    background-color: rgba(225, 225, 225, 0.828);
    border-radius: 5px;
    align-items: center;
    display: flex;
    width: 100px;
    height: 150px;
    flex-direction: column;
}

.miniIcon{
    width: 80px;
    height: 80px;
    background-size: cover;
    display: block;
}

.day{
    height: 30px;
    margin: 5px 0px 0px 0px;
}

.minMax{
    height: 30px;
    margin: 5px 0px 0px 0px;
    font-size: 15px;
}



@media (max-width: 800px){
    .container{
        width: 360px;
        height: 530px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px;
    }
    .weatherApp{
        width: 400px;
        height: 680px;
        display: flex;
        flex-direction: column;
        border-radius: 40px;
        border: 5px solid white;
    }

    .daily{
        width: 330px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
    }
    
    .forecast{
        width: 330px;
        height: 200px;
        display: block;
        position: relative;
        overflow: auto;
        margin: none;
        padding: none;   
    }

    .temperature{
        height: 220px;
    }

    .conditions{
        height: 80px;
        width: 280px;
    }
    
    .icon{
        height: 190px;
        width: 190px;
    } 

    .condition{
        font-size: 20px;
    }
    
    p{
       font-size: 15px;
    }
    .future{
        display: flex;
        width: 320px;
        height: 50px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
    }

    .miniIcon{
        width: 50px;
        height: 50px;
    }
}


/* 
position: relative;
overflow: auto; */